.container{
width:600px;
margin:0 auto;
background-image: url("http://www.akvatruboplast.ru/site/assets/2015/02/sredyr.jpg");
border:1px solid red !important;
height:400px;
background-size:cover; 
//Feng Shui Yin Yang Bracelet;
}

 h2{

margin:10px auto;
color:white !important;

}

h1{

color:white !important;
font-family: italic;

}



#box{
	width:410px;
	height:90px;
border:1px solid white;
margin:40px auto;
text-align: center;
padding:10px;
background:#323232;
border-radius: 10px;
margin-bottom:0;
}

 #box .quote{
//padding-top:10px;
color:#ffa500 ;
font-size:18px;

margin-bottom:0;
}

#box .author{
margin:0 auto;
text-align:right;
padding:0px auto;
color:white;
margin-right:10px;
font-family: italic;
}



#buttons{
display:inline-flex;
margin:25px 250px;


}

.btn{

margin:0 10px;

}

